@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

/*
'Epilogue', sans-serif;
*/

html{font-size: 100%;}

*{
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
}

.App{
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.backgroundImage{
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;   
  }
}

canvas{
  position: absolute;
  z-index: 2;
}

.startingScreen{
  width: 100%;
  height: 100%;
}

.startClock{
  position: relative;
  top: 27.5%;
  margin: auto;
  width: 60%;
  height: 45%;
  border: 2px solid white;
  box-shadow: 
    inset 1px 1px 10px white,
    0px 0px 4px white;
  z-index: 10;
}

.startClock:hover{
  box-shadow: 
    inset 1px 1px 10px black,
    0px 0px 4px black
}

.clockText{
  color: white;
  margin: 0;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 
    0px 0px 15px white;
  opacity: .9;
}

.clockSecond{
  color: white;
  position: absolute;
  z-index: 5;
  top: 73%;
  left: 73%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 5px white;
}

.startClock:hover .clockText{
  text-shadow: 
    0px 0px 15px black;
}

.startClock:hover .clockSecond{
  text-shadow: 
    0px 0px 5px black;
}


.playlist{
  position: absolute;
  top: 12%;
  left: 55%;
  height: 75%;
  width: 35%;
  border: 2px solid white;
  box-shadow: 
    inset 1px 1px 10px white,
    0px 0px 4px black;
  z-index: 10;
}

.arrowContainer{
  position: absolute;
  height: 100%;
  width: 6%;
  padding: 3%;
  left: 87%;
  z-index: 2;
}

.arrowUp, .arrowDown{
  position: absolute;
  border: solid white;
  border-width: 0 .1rem .1rem 0;
  display: inline-block;
  padding: .6rem;
}

@keyframes arrowAnimation {
  0% {background-color: white;}
  50% {background-color: transparent;}
}

.arrowUp1, .arrowDown1{
  position: absolute;
  height: 1rem;
  width: 1rem;
  border: solid white .1rem;
  background-color: white;
  animation-name: arrowAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.arrowUp, .arrowUp1{
  top: 5%;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowDown, .arrowDown1{
  top: 85.5%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowUp1{
  top: 8%;
}

.arrowDown1{
  top: 82.5%;
}

.songList{
  position: relative;
  width: 90%;
}

.songDetails{
  position: relative;
  margin: auto;
  width: 90%;
  font-size: 1.5em;
  margin-top: 4%;
  padding: 2% 0% 2% 0%;
  padding-left: 4%;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.songDetails:hover{
  background-color: rgba(255, 255, 255, .4);
}

.audioData{
  border: solid white 2px;
  position: absolute;
  top: 27.5%;
  left: 10%;
  height: 45%;
  width: 35%;
  box-shadow: 
    inset 1px 1px 10px white,
    0px 0px 4px black;
  z-index: 10;
}

.audioTitle{
  position: relative;
  top: 35%;
  height: 11%;
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.audioCPlay{
  position: relative;
  color: white;
  top: 37.5%;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}